.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10;
  display: none;
}
.modal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__content {
  position: relative;
  padding: 20px;
  border-radius: 5px;
  background: #ecf0f3;
}

.modal__close {
  position: absolute;
  right: 5px;
  top: -2px;
  cursor: pointer;
  font-size: 20px;
}

.modal.active .modal__content {
  display: block;
}
